html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html{
  font-family: '微軟正黑體';
  background: linear-gradient(#F1E6EE, #B4DFF8) fixed;
}
/* header */
.header{
  box-sizing: border-box;
  width: 1024px;
  height: 300px;
  background-color: #424242;
  margin: 0 auto;
  user-select: none;
}
.logo{
  margin-top: 92px;
  margin-right: 97px;
  margin-left: 173px;
  float: left;
}
.inputBar{
  margin-top: 74px;
  margin-right: 53px;
  float: left;
}
.header_explainText{
  display: inline-block;
  font-size: 18px;
  color: #FFD366;
  margin-bottom: 7px;
}
#myWeight, #myHeight{
  box-sizing: border-box;
  border: 2px solid #FFD366;
  width: 250px;
  height: 40px;
  font-size: 24px;
  background: rgba(255,255,255,0.18);
  border-radius: 10px;
  color: rgba(255,255,255,0.50);
  padding: 8px 16px;
}
#myHeight{
  margin-bottom: 23px;
}
#resultIcon{
  /*display: none;*/
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background-color: #FFD366;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 24px;
  color: #424242;
  float: left;
  margin-top: 92px;
  cursor: pointer;
}
#resultIcon:hover{
  box-shadow: 0 1px 6px 3px rgba(255,195,49,0.64);
}
#resultIcon:active{
  background-color: #DEA921;
}

/* content */
.content{
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  background-color: #F5F5F5;
  padding-bottom: 100px;
  position: relative;
}
.content_explainText{
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 36px;
  font-size: 24px;
  color: #424242;
  user-select: none;
}
#BMIClear{
  position: absolute;
  right: 50px;
  top: 48px;
  width: 80px;
  padding: 5px;
  letter-spacing: 1px;
  background-color: #C44B3F;
  color: #FDFDFE;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
#BMIClear:hover{
  width: 85px;
  font-size: 17px;
}
#BMIClear:active{
  color: #C44B3F;
  background-color: #FDFDFE;
}

/* footer */
.footer{
  box-sizing: border-box;
  width: 1024px;
  height: 90px;
  margin: 0 auto;
  background-color: #FFD366;
  padding: 18px;
}
.footerLogo{
  width: 60px;
  height: 54px;
  margin: 0 auto;
  background-color: black;
  padding: 3px 0;
}
.footer img{
  display: block;
  margin: 0 auto;
  width: 55px;
  height: 55px;
}

/* result icon in header*/
.health{
  display: none;
  box-sizing: border-box;
  width: 123px;
  height: 123px;
  font-size: 32px;
  float: left;
  margin-top: 89px;
  cursor: pointer;
  border: 6px solid #86D73E;
  color: #86D73E;
  border-radius: 50%;
  text-align: center;
  line-height: 110px;
  position: relative;
}
#healthText{
  position: absolute;
  left: 130px;
  top: -1px;
  white-space: nowrap;
}
#loopImg{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 2px;
  right: 0;
  background: url('../img/icons_loop.png') no-repeat center;
  background-color: #86D73E;
  border-radius: 50%;
}
#BMIText{
  position: absolute;
  font-size: 14px;
  left: 41.5px;
  bottom: -22px;
}

/* BMIList in content */
#BMIList{
  width: 624px;
  margin: 0 auto;
  font-size: 20px;
  color: #4A4A4A;
}
#BMIList li{
  height: 62px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  padding-left: 12px;
  padding-right: 11px;
  line-height: 62px;
}
.BMIList_healthStr{
  position: absolute;
}
.BMIList_BMI{
  float: left;
}
.BMIList_weight{
  float: left;
}
.BMIList_height{
  float: left;
}
.BMIList_date{
  font-size: 12px;
  color: #424242;
  float: right;
}
.BMIList_BMI:before{
  content: "BMI";
  font-size: 12px;
  color: #424242;
  margin-right: 7px;
  position: relative;
  top: -2px;
  margin-left: 110px;
}
.BMIList_weight:before{
  content: "weight";
  font-size: 12px;
  color: #424242;
  margin-right: 7px;
  position: relative;
  top: -2px;
  margin-left: 42px;
}
.BMIList_height:before{
  content: "height";
  font-size: 12px;
  color: #424242;
  margin-right: 7px;
  position: relative;
  top: -2px;
  margin-left: 42px;
}
